<button><a href="/details/user" style="text-decoration: none;">User list</a></button>

<form action="" method="post">
    
    <p>
        <label for="Name">Name</label>
        <input value="" name="Name" />
        <br><br>
        <label for="Age"style="margin-right: 12px;">Age</label>
        <input value="" name="Age" />
        <br><br>
        <label for="Id" style="margin-right: 25px;">Id</label>
        <input value="" name="Id" />
        <br>
        <br>
        <button type="submit">Submit</button>
    </p>
    
</form>
