<div>
    <h1>User details</h1>
    <table style="border: 1px solid black;">
        <tr>
            <th class="id">Id</th>
            <th class="name">Name</th>
            <th class="age">Age</th>
        </tr>

        {{#each data}}
        <tr>
            <td class="id">{{this.Id}}</td>
            <td class="name">{{this.Name}}</td>
            <td class="age">{{this.Age}}</td>
        </tr>
        {{/each}}
    </table>
    <br>


</div>
    <button class="btn"><a href="/details/add" style="text-decoration: none;">Add user</a></button>
<style>
    h1 {
        text-align: center;
    }
    table {
        margin: auto;
    }
    table, th, tr, td {
        border: 1px solid black;
        border-collapse: collapse;
        text-align: center;
    }
    table {
        width: 50%;
    }
    .id {
        width: 5%;
    }
    .name {
        width: 30%;
    }
    .age {
        width: 10%;
    }
    .btn {
        margin-left: 45%;
        margin-right: 45%;
    }
</style>